/* GERAL */

*{
    box-sizing: border-box;
    margin: 0 auto;
}

table, tr, td, th  {
    border-right: 2px solid #D8D8D8;
    border-collapse: collapse;
    text-align: center;
    padding: 7px; 
    width: 20px;
}

th {
    padding: 20px;
}


body {
    padding-top: 30px;
}

table {
    width: 70%;
 
}


/* LAYOUT */

.tabela-corpo {
    border-top: 1px solid #d8d8d8;
}

.tabela__header_azul {
    background: #0078C1;
    padding: 9px;
    color: white;
    font-family: 'open sans';
    font-weight: lighter;
    font-size: 13px;   
}

.tabela__header_verde {
    background: #009E2C;
    padding: 9px;
    color: white;
    font-family: 'open sans';
    font-weight: lighter;
    font-size: 13px;
 }


tbody tr:nth-child(odd){
    background-color: #f5f5f5;
}

button {
    background-color: #FF5406;
    color: white;
    font-family: 'open sans';
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 10px  #979797;
}


/* TEXTOS/TITULOS */

.usuarios {
    font-family: 'open sans';
    color: #4A4A4A;
    font-size: 14px;
}

h3 {
    font-family: 'open sans';
    font-weight: bold;
    color: #4A4A4A;
    font-size: 14px;
    margin: 5px;
}

p {
    font-family: 'open sans';
    font-weight: lighter;
    color: #4A4A4A;
    font-size: 13px;
}

tr > td:first-child p {
    text-align: left;
    margin: 0px 0px 0px 10px;
}